<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.timetable.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.timetable.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTimetableServlet</servlet-name>
        <servlet-class>com.timetable.controller.AddTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTimetableServlet</servlet-name>
        <servlet-class>com.timetable.controller.UpdateTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimetableServlet</servlet-name>
        <servlet-class>com.timetable.controller.DeleteTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>com.timetable.controller.SubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassroomServlet</servlet-name>
        <servlet-class>com.timetable.controller.ClassroomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.timetable.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTimetableServlet</servlet-name>
        <url-pattern>/AddTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTimetableServlet</servlet-name>
        <url-pattern>/UpdateTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimetableServlet</servlet-name>
        <url-pattern>/DeleteTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/SubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassroomServlet</servlet-name>
        <url-pattern>/ClassroomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
